{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  {% if request.resolver_match.url_name == 'create' %}
    <h1>CREATE</h1>
  {% else %}
    <h1>UPDATE</h1>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {% comment %} <div>
      {{ form.title.errors }}
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
    <div>
      {{ form.content.errors }}
      {{ form.content.label_tag }}
      {{ form.content }}
    </div> {% endcomment %}

    {% comment %} {% for field in form %}
      <div class="mb-3">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %} {% endcomment %}


    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit="Submit" reset="Reset" %}
    {% endbuttons %}

    {% comment %} <input type="submit"> {% endcomment %}
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock  %}
