{% extends 'base.html' %}

{% block contents %}
  <h3>1. for</h3>
  {# tags #}
  <p>{{ foods }}</p>
  {% for food in foods %}
    <p>{{ forloop.counter }}  {{ food }}</p>
  {# 주의할점 #}
  {% endfor %}
  <hr>
  {% for user in info %}
    <p>{{ user }}</p>
  {% empty %}
    <p>현재 가입한 유저가 없습니다.</p>
  {% endfor %}
  <hr>

  <h3>2. if</h3>
  {% if '짜장면' in foods %}
    <p>짜장면엔 고춧가루지</p>
  {% endif %}
  <hr>
  {% for food in foods %}
    {% if forloop.first %}
      <p>{{ food }} + 고춧가루</p>
    {% else %}
      <p>{{ food }}</p>
    {% endif %}
  {% endfor %}
  <hr>

  <h3>3. length filter</h3>
  {% for fruit in fruits %}
    {% if fruit|length > 5 %}
      <p>이름이 너무 길어요</p>
    {% else %}
      <p>{{ fruit }}, {{ fruit|length }}</p>
    {% endif %}
  {% endfor %}
  <hr>

  <h3>4. lorem ipsum</h3>
  <p>{% lorem %}</p>
  <hr>
  <p>{% lorem 3 w %}</p>
  <hr>
  <p>{% lorem 3 w random %}</p>
  <hr>
  <p>{% lorem 2 p %}</p>
  <hr>

  <h3>5. 글자 관련 필터</h3>
  <p>{{ 'ABC'|lower }}</p>
  <p>{{ 'you need python'|title }}</p>
  <p>{{ foods|random }}</p>
  <p>{{ 'hello'|length }}</p>
  <p>{{ today|date:"Y년 m월 d일 (D) a h:i" }}</p>
  <hr>

  <h3>6. 연산</h3>
  <p>{{ 4|add:6 }}</p>
  <hr>

  <h3>7. 날짜</h3>
  {% now "DATE_FORMAT" %} <br>
  {% now "SHORT_DATE_FORMAT" %} <br>
  {% now "DATETIME_FORMAT" %} <br>
  {% now "SHORT_DATETIME_FORMAT" %} <br>
  <hr>
  {% now "Y년 m월 d일 (D) a h:i" %}
  <hr>
  {% now "Y" as current_year %}
  Copyright {{ current_year }}
  <hr>
  <a href="/index/">INDEX</a>
{% endblock contents %}